<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>{{ tags.pageTitle() }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ tags.themeColor() }}">
    <meta name="description" content="{{ tags.pageDescription() }}">
    <meta name="Keywords" content="{{ tags.keywords() }}">
    <link rel="canonical" href="{{ assets.canonical() }}" />
    {{ html(ogTags.get()) }}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DMW Tecnologia">
    <link rel="apple-touch-icon" href="/images/logoRed144.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">

		{% if googleGtmCode %}

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ googleGtmCode }}');</script>
		<!-- End Google Tag Manager -->

		{% endif %}
    
    {{ html(assets.css()) }}
    {{ html(assets.jsHead()) }}

    {% if reCAPTCHA is defined %}

    <script src="https://www.google.com/recaptcha/api.js?render={{ reCAPTCHA.siteKey }}"></script>

    {% endif %}

    <script>

    let notServiceWorker = true;

    </script>
  </head>
  <body class="bg-transparent">
		{% if googleGtmCode %}

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ googleGtmCode }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% endif %}

    {% block content %} {% endblock %}

    {{ html(assets.jsBody()) }}

  </body>
</html>
