<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>{{ tags.pageTitle() }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="{{ tags.themeColor() }}">
    <meta name="description" content="{{ tags.pageDescription() }}">
    <meta name="Keywords" content="{{ tags.keywords() }}">
    <link rel="canonical" href="{{ assets.canonical() }}" />
    {{ html(ogTags.get()) }}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DMW Tecnologia">
    <link rel="apple-touch-icon" href="/images/logoRed144.png">
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">

		{% if googleGtmCode %}

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ googleGtmCode }}');</script>
		<!-- End Google Tag Manager -->

		{% endif %}

    {{ html(assets.css()) }}
    {{ html(assets.jsHead()) }}
  </head>
  <body class="app sidebar-mini rtl">
		{% if googleGtmCode %}

		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ googleGtmCode }}"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% endif %}  
    <header class="app-header">
      <a class="app-header__logo" href="/">
        <img src="/images/logoWhite64.png" width="36" height="36" alt="Logo DMW">
      </a>
      <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Ocultar menu lateral"></a>

      <ul class="app-nav">
        <li class="dropdown">
          <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Abrir menu do perfil">
            <i class="fa fa-user fa-lg"></i>
          </a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li>
              <a class="dropdown-item" href="{{ accountUrl }}">
                <i class="fa fa-user fa-lg"></i> Minha conta
              </a>
            </li>
						<li>
							<a class="dropdown-item" href="/workspace/login">
								<i class="fas fa-user-friends fa-lg"></i> Alterar conta
							</a>
						</li>                     
            <li>
              <a class="dropdown-item" href="/user/logout">
                <i class="fa fa-sign-out-alt fa-lg"></i> Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar" height="48" width="48" src="{{ user.avatar() }}" alt="Imagem do usuário">
        <div class="app-sidebar__user-data">
          <p class="app-sidebar__user-name">{{ user.firstName() }}</p>
        </div>
      </div>
      <ul class="app-menu">

        {% include 'menu/menu' ~ app ~ '.html.twig' %}

      </ul>
    </aside>

    <main class="app-content">
      <div class="app-title">
        <div>
          <h1>{{ tags.title()|raw }}</h1>
          <p>{{ tags.description() }}</p>
        </div>

        {% if tags.breadCrumb() %}

        <ul class="app-breadcrumb breadcrumb">

          {% for item in tags.breadCrumb() %}

          <li class="breadcrumb-item">
            {{ item|raw }}
          </li>

          {% endfor %}

        </ul>

        {% endif %}

      </div>

      {% include '_alerts/_notification.html.twig' %}

      {% block content %} {% endblock %}

    </main>

    {{ html(assets.jsBody()) }}

  </body>
</html>
