<div class="col-md-12">
  <div class="tile">
    {{ form_open("get", uri) }}
      <div class="input-group">
        {{ form_input("text", "nome", "",
          {
            "class"           : "form-control btnSearch",
            "placeholder"     : "Pesquisa",
            "aria-label"      : "Pesquisa",
            "aria-describedby": "button-search"
          }) }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" id="button-search" title="Pesquisa">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    {{ form_close() }}

    {% for key, url in filters(data.filters())|raw %}

        <a href="?{{ url }}" class="badge badge-primary">{{key}} <i class="fas fa-times-circle ml-1"></i></a>

    {% endfor %}

  </div>
</div>
