{% extends 'layout-panel.html.twig' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    {% include '_alerts/_success.html.twig' %}
    {% include '_alerts/_info.html.twig' %}
    {% include '_alerts/_errors.html.twig' %}
  </div>
</div>

<div class="text-center">
  <div class="p-4">
    <img class="rounded-circle shadow-lg" height="95" width="95" src="{{ user.avatar }}" alt="Imagem usuário">
  </div>
  <h2>{{ trans('Welcome') }}, {{ user.name }}</h2>
  <p>{{ trans('In this place you will manage your information, privacy and security') }}.</p>
  <p>{{ trans('Use the menu on the top left {icon} to navigate the options menu', {'icon': '<i class="fas fa-bars"></i>'}) | raw }}!</p>
</div>

{% endblock %}
