{% if (error is defined and error) or (errors is defined and errors) %}

<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>

  <p class="p-0 m-0">

    {% if error is defined and error %}

    <i class="fas fa-times-circle"></i> {{ error }}

    {% else %}

    <i class="fas fa-times-circle"></i> Falha ao validar dados!

    {% endif %}

  </p>
</div>

{% endif %}
