{% if info is defined and info %}

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <p class="p-0 m-0">
  	<i class="fas fa-check-circle"></i> {{ info }}
  </p>
</div>

{% endif %}
