<div id="pnNotify" class="d-print-none" style="display:none">
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    </button>
    <p class="p-0 m-0">
      <i class="fas fa-exclamation-circle"></i> A DMW precisa da sua permissão para <button type="button" class="btn btn-outline-info ml-1" id="btnNotify">Ativar notificações</button>
    </p>
  </div>
</div>
