{% if success is defined and success %}

<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <p class="p-0 m-0">
  	<i class="fas fa-check-circle"></i> {{ success }}
  </p>
</div>

{% endif %}
