// Helper Classes

.light-text { font-weight: 300 !important; }
.semibold-text { font-weight: 600 !important; }
.line-head {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.text-ellipsis {
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.text-display {
	font-size: 2.5rem!important;
}
