<li>
  <a class="app-menu__item" href="{{ platformUrl }}">
    <i class="app-menu__icon fas fa-th-large fa-lg"></i>
    <span class="app-menu__label">Meus aplicativos</span>
  </a>
</li>

{% if appStatus.status == 'none' %}

{% set status = 'text-success' %}

{% elseif appStatus.status == 'minor' %}

{% set status = 'text-warning' %}

{% else %}

{% set status = 'text-danger' %}

{% endif %}

<li>
  <a class="app-menu__item" target="_blank" href="{{ appStatus.url }}">
    <i class="{{ status }} app-menu__icon fas fa-minus-circle fa-lg"></i>
    <span class="app-menu__label">Status do serviço</span>
    <i class="fas fa-external-link-alt"></i>
  </a>
</li>