<!DOCTYPE html>
<html lang="pt-br">
  <head>
	<title>500 - DMW</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/vendor/vali-admin/css/main.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
	<main>
	  <div class="page-error text-center">
		<a class="app-header__logo_link" href="javascript:window.history.back();">
		  <img src="/images/tony/offline.png" alt="Logotipo empresa">
		</a>
		<h1>
		  <i class="fa fa-question-circle"></i> Código 500: Em manutenção
		</h1>
		<h2>
            O serviço está temporariamente indisponível.<br>
            Estamos trabalhando para reestabelecer o serviço o mais rápido possível!
		</h2>
		<p>
		  <a class="btn btn-primary" href="javascript:window.history.back();">Voltar</a>
		</p>
	  </div>
	</main>
	<script src="/vendor/jquery/js/jquery-3.3.1.min.js"></script>
	<script src="/vendor/popper/js/popper.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/vali-admin/js/main.min.js"></script>
  </body>
</html>
